html, body {
    height: 100%;
}

a {
    margin: 2px;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    min-height: 100%;
    padding: 20px;
}